.holeQueryBox{
    position: relative;
    top: 100px;
    left: 288px;
    width: 376px;
    height: 275px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}
.holeQueryText{
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 20px !important;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.searchHole{
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    position: absolute;
    top: 84px;
    left: 24px;
    width: 328px;
    height: 36px;
}
.searchHoleIcon{
    color: rgba(126, 126, 126, 1);
    position: absolute;
    left: 16px;
    top: 6px;
}
.queryHole{
    position: absolute;
    left: 52px;
    top: 7px;
    border: none;
    outline: none;
    font-size: 14px !important;
}
.searchComment{
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;  
    margin-left: 24px !important;
    margin-top: 140px !important;
    width: 328px;
    height: 36px;
}
.commentQueryIcon{
    color: rgba(126, 126, 126, 1);
    position: absolute;
    left: 16px;
    top: 6px;
}
.queryComment{
    position: absolute;
    left: 52px;
    top: 7px;
    border: none;
    outline: none;
    font-size: 14px !important;
}
.queryBtn{
    width: 94px;
    height: 36px;
    position: absolute;
    margin-top: 20px !important;
    margin-left: 258px !important;
}
.attentionText{
    margin-top: 3px !important;
    margin-left: 24px !important;
    font-size: 10px !important;
    height: 16px;
    line-height: 16px;
    letter-spacing: 0.4px !important;
    color: rgba(0, 0, 0, 0.6);

}